.navbar{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3D256A;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
}

.navbar ul:first-child{
    gap: 128px;
    
}

.navbar ul:first-child li{
    color: white;
    
}

.line-separator{
    background-color: white;
    width: 80%;
    height: 2px;
}

.navbar ul:last-child{
    gap: 32px;
}