<div class="login-page">
    <div class="login-container">
        <div class="login-bgImage">
            <div class="login-left">
                <div class="login-logo-header">
                    <img src="./assets/Images/ENSPY.jpg" alt="" srcset="">
                    <img src="./assets/Images/AppLogo.png" alt="" srcset="">
                </div>
                <div class="login-right">
                    <form action="" method="post" [formGroup]="forgetPasswdForm" (ngSubmit) = "onSubmitForgotPasswd(forgetPasswdForm.value)" >
                        <span class="form-title">Trouvez votre compte</span>
                        <span *ngIf="!submitForgotPasswd" class="verif-text">Veuillez entrer votre adresse e-mail pour rechercher votre compte.</span>
                        <div class="wave-group">
                            <input type="email" name="loginEmail" class="input" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" formControlName="emailid" required>
                            <span class="bar"></span>
                            <label class="label">
                                <span class="label-char" style="--index: 0">E</span>
                                <span class="label-char" style="--index: 1">m</span>
                                <span class="label-char" style="--index: 2">a</span>
                                <span class="label-char" style="--index: 3">i</span>
                                <span class="label-char" style="--index: 4">l</span>
                            </label>
                        </div>
                        <input type="submit" value="Recuperer">
                        <span *ngIf="submitForgotPasswd" class="verification-text">La demande de recuperation du mot de passe a été envoyée avec succès. Veuillez vérifier votre e-mail pour recuperer votre mot de passe</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
