.forgot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #494D5F;
}

.container{
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header{
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: center;
    color: black;
    border-left: 7px solid #845BB3;
}

.input{
    display: flex;
    gap: 1rem;
    background-color: white;
    height: 170px;
    position: relative;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 15px;
}

.text{
    margin-left: 10px;
    margin-top: 5px;
}

#usernameEmail{
    padding: 10px 40px;
    border: 3px solid #845BB3;
    border-radius: 7px;
    
}

h1{
    color: #A0D2EB;
}

.reset{
    width: 45%;
    background-color: #845BB3;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top: 85px;
    right: 30px;
    cursor: pointer;
}


.log{
    display: flex;
    gap: 1rem;
}



.signin{
    position: absolute;
    top: 5px;
    right: 20px;
    background-color: #A0D2EB;
    color: black;
    cursor: pointer;
}

.signup {
    position: absolute;
    top: 5px;
    right: 72px;
    background-color: #A0D2EB;
    color: black;
    cursor: pointer;
}

a{
    text-decoration: none;
}

img{
    width: 150px;
    height: 150px;
}