<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    
    <div class="forgot">
        <h1>Forgot Your Password ?</h1>
    <div class="container">
        <div class="header">
            <span class="text">Please enter your username or email adress. You will receive 
                an email message with instructions on how to reset your password</span>
        </div>
        <div class="input">
        <form action="">
            <label for="usernameEmail">Username or Email Address</label>
            <input type="email" id="usernameEmail">
            <button class="reset" type="submit">Get New Password</button>
        </form>
        </div>
        <div class="log">
            <button class="signin">Sign in</button>
            <button class="signup">Sign up</button>
        </div>
    </div>
    </div>
</body>
</html>
