
<div class="home-section">
    <div class='section-up'>
        <span class="section-up-span">ACCUEIL</span>
    </div>
    <div class="section-down">
        <a  routerLink="" class="contact-button">
            <span class="contactbtn-span">
                <img src='./assets/Images/contactBtn.svg'alt="" />
                <span>Contacts</span>
            </span>
        </a>
        <a routerLink="" class="contact-button">
            <span class="contactbtn-span">
                <img src='./assets/Images/messageBtn.svg' alt="" />
                <span>Messages</span>
            </span> 
        </a>
</div>
