.index-page{
    background-image: linear-gradient(60deg, #d9c7ea, #EEEEEE, #EDF4F6) ;
    /*background-color: #EEE9F2;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-decorators{
    position: fixed;
    width:100%;
    height:100%;
}

.img-decorators{
    width:40px;
    height:40px;
}

.login-decorators img:first-child{
    position: absolute;
    bottom: 5%;
    right: 20%;
}
.login-decorators img:nth-child(2){
    position: absolute;
    bottom: 10%;
    right: 30%;
}
.login-decorators img:nth-child(3){
    position: absolute;
    top: 30%;
    right: 30%;
}
.login-decorators img:nth-child(4){
    position: absolute;
    top: 50%;
    right: 30%;
}
.login-decorators img:nth-child(5){
    position: absolute;
    right: 0;
    top: 30%;
}
.login-decorators img:nth-child(6){
    position: absolute;
    right: 35%;
    bottom: 30%;
}
.login-decorators img:nth-child(7){
    position: absolute;
    right: 10%;
    bottom: 20%;
}
.login-decorators img:nth-child(8){
    position: absolute;
    bottom: 40%;
    right: 5%;
}
.login-decorators img:nth-child(9){
    position: absolute;
    top: 10%;
    right: 20%;
}
.login-decorators img:nth-child(10){
    position: absolute;
    top: 15%;
    right: 5%;
}
.index-header{
    width: calc(100vw - 16px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px 0px;
}

.index-header img:first-child {
    height: 80px;

}

.logo{
    border-radius: 100%;
    width: 100px;
}

.index-body{
    width: calc(100vw - 32px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.indexText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 16px;
}

.indexwelcome{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.indexwelcome span {
    font-weight: bold;
    font-size: 30px;
}

.index-body img {
    width: 600px;
    height: 600px;
}

.indexbtn{
    display: flex;
    justify-content:flex-start;
    gap: 64px;
}

.indexlink{
    text-decoration: none;
    background-color: #A64AEE;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 16px;
    z-index: 5;
}

.indexlink:hover{
    filter: drop-shadow(-5px 0px 10px rgba(0, 0, 0, 0.2)) drop-shadow(10px 12px 10px rgba(0, 0, 0, 0.2));
    cursor: pointer;
}