<div class="index-page">
    <div class="index-header">
        <img src="./assets/Images/AppLogo.png" alt="" srcset="">
        <img src="./assets/Images/ENSPY.jpg" alt="" srcset="" class="logo">
    </div>
    <div class="index-body">
        <div class="indexText">
            <div class="indexwelcome">
                <span>Welcome to project SMS (Came on Jos)!</span>
                <span>Your simplified message transfer canal to various message platform</span>
            </div>
            <div class="indexbtn">
                <a class="indexlink"  routerLink="">
                    Login
                </a>
                <a class="indexlink"  routerLink="">
                    Signin
                </a>
            </div>
        </div>
        <img src="./assets/Images/indexPhone2.svg" alt="" srcset="">
    </div>
    
</div>

