<div class="index-page">
    <div class="login-decorators">
        <img class="img-decorators" src="./assets/Images/loginImg1.svg" alt="" srcset="">
        <img class="img-decorators" src="./assets/Images/loginImg2.svg" alt="" srcset="">
        <img class="img-decorators" src="./assets/Images/loginImg3.svg" alt="" srcset="">
        <img class="img-decorators" src="./assets/Images/loginImg4.svg" alt="" srcset="">
        <img class="img-decorators" src="./assets/Images/loginImg5.svg" alt="" srcset="">
        <img class="img-decorators" src="./assets/Images/loginImg6.svg" alt="" srcset="">
        <img class="img-decorators" src="./assets/Images/loginImg7.svg" alt="" srcset="">
        <img class="img-decorators" src="./assets/Images/loginImg8.svg" alt="" srcset="">
        <img class="img-decorators" src="./assets/Images/loginImg9.svg" alt="" srcset="">
        <img class="img-decorators" src="./assets/Images/loginImg10.svg" alt="" srcset="">
    </div>
    <div class="index-header">
        <img src="./assets/Images/AppLogo.png" alt="" srcset="">
        <img src="./assets/Images/ENSPY.jpg" alt="" srcset="" class="logo">
    </div>
    <div class="index-body">
        <div class="indexText">
            <div class="indexwelcome">
                <span>Welcome to SendAll SMS (Came on Jos)!</span>
                <span>Your simplified message transfer canal to various message platform</span>
            </div>
            <div class="indexbtn">
                <a class="indexlink"  routerLink="/login">
                    Login
                </a>
                <a class="indexlink"  routerLink="/signup">
                    Sign Up
                </a>
            </div>
        </div>
        <img src="./assets/Images/indexPhone2.svg" alt="" srcset="">
    </div>
</div>

